#outer {
    margin: auto;
    margin-top: 20px;
    width: 50%;
    padding: 10px;
    background-color: #f4f7f8;
    border: 10px solid #a8d5f8; 
    padding: 20px; 
}

#middle{
    font-size: 2em;
    font-variant: small-caps;
    font-weight: bold;
    float: left;
    margin-right: 250px;
}

#sellerlog{
   font-size: 2em;
}
