#outer {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: whitesmoke;
    border: 10px solid blueviolet; 
    padding: 20px; 
    height: 100px;

}

#middle{
    font-size: 2em;
    font-variant: small-caps;
    font-weight: bold;
    bottom: 200px;
    left: 650px;
}

#sellerlog{
   font-size: 2em;
   margin-left: 600px;
   margin-top: -75px;
}