/* filter sidebar */
#body {
  display: flex;
  margin-top:20px;
}

#books {
  width: 80%;
  height: 100%;
  margin-left: 20px;
  border: 4px solid #1d2d44; 
  background-color: #1d2d44;
  color: #f0ebd8;
}

#bookList {
  display: flex;
  align-items: space-evenly;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 0 0 10px 20px;
  
}

.book h5 {
  font-size: .9em;
}

#sidebar{
  color: #f0ebd8;
  width: 260px;
  clear: left;
  margin-left: 20px;
  border: 10px solid #1d2d44; 
  background-color: #1d2d44;
}

#sidebar input[type="text"], input[type="number"] {
  width: 95%;
  height: 2em;
  resize: vertical;
  border: 1px solid rgba(209, 209, 209, 0.555); 
}

.field {
  display: block;
  padding-top: 15px;
}

#sidebar input[type="submit"] {
  height: 2em;
  width: 5em;
  margin-top: 5px;
  font-weight: bold;
  color: #f0ebd8;
  background-color: #748cab;
  border: none;
}



/* catalog */
