/* 
COLOR PALETTE -- CSS HEX 

  --aqua-haze: #f4f7f8;
  --geyser: #cedcdd;
  --picton-blue: #449fee;
  --sail: #a8d5f8;
  --jordy-blue: #8cccf4;
  --link-water: #cee6f3;
  --geyser: #dce4e6;

  --eggshell: #f0ebd8
  --shadow-blue: #748cab
  --black-coral: #3e5c76
  --prussion-blue: #1d2d44
  --rich-black-fogra-29: #0d1321
  
*/

*{
  margin: 0;
  font-family: Verdana, sans-serif;
}

body {
  background-color: #f0ebd8;
}

header {
	font-variant: small-caps;
  height: 3.5vw;
  display: flex;
  font-weight: bold;
  border: 4px solid #1d2d44; 
  background-color: #1d2d44;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 40px;
  padding: 0 0 0 20px;
  color: #f0ebd8;
}

header a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center-text {
  text-align: center;
}
.left-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
.center-self {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hmenu {
	text-align: center;
  display: flex;
}
.hmenu a {
  color: #f0ebd8;
	text-decoration: none;
  padding: 0 2.5vw 0 2.5vw;
}
.hmenu li {
  font-size: 1vw;
  background-color: #748cab;
  display: inline-block;
  width: 8vw;
  height: 1.5vw;
	list-style: none;
}