#body {
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:50px;
    background-color: #1d2d44;
    border-radius: 10%;
    width: 90%;
    height: 40vw;
}

.welcome{
    font-size: 4vw;
    text-align: center;
    color: #f0ebd8;
}

.info {
    margin: 10px;
    width: 90%;
    color: #f0ebd8;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

img{
    float: left;
    clear: both;
    width: 50%;
    border-radius: 10%;
}

#welcomeDesc {
    background-color: #748cab;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    font-size: 1.5vw;
    padding: 0 10px 0 10px;
}
#welcomeDesc p:not:first-child {
    padding-top: 10px;
}